<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.replay.member.model.dao.MemberMapper">

<select id="loadUser" resultType="map">
	SELECT
		   TB_MEMBER.MEMBER_ID 
		 , TB_MEMBER.EMAIL
		 , TB_LOCAL.PASSWORD 
		 , TB_MEMBER.ROLE
	FROM 
		 TB_MEMBER
	INNER JOIN TB_LOCAL ON TB_MEMBER.MEMBER_ID = TB_LOCAL.MEMBER_ID
	WHERE TB_MEMBER.MEMBER_ID = #{username}	
</select>


	<update id="changeInfo" parameterType="com.kh.replay.member.model.dto.MemberDTO">
        UPDATE TB_MEMBER
        SET 
            NICKNAME = #{nickName},
            PHONE = #{phone},
            GENRE = #{genre},
            EMAIL = #{email},
            MBTI = #{mbti},
            GENDER = #{gender}
        WHERE MEMBER_ID = #{memberId}
    </update>
	
	
	
	
</mapper>