<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.replay.global.member.model.dao.MemberMapper">

<select id="loadUser" resultType="map">
	SELECT
		   TB_MEMBER.MEMBER_ID 
		 , EMAIL 
		 , PASSWORD 
		 , ROLE
	FROM 
		 TB_MEMBER
	INNER JOIN TB_LOCAL ON TB_MEMBER.MEMBER_ID = TB_LOCAL.MEMBER_ID
	WHERE TB_MEMBER.MEMBER_ID = #{username}	
</select>


	<update id="changeInfo" parameterType="MemberDTO">
        UPDATE TB_MEMBER
        SET 
            NICKNAME = #{nickName, jdbcType=VARCHAR},
            PHONE = #{phone, jdbcType=VARCHAR},
            GENRE = #{genre, jdbcType=VARCHAR},
            EMAIL = #{email, jdbcType=VARCHAR},
            MBTI = #{mbti, jdbcType=VARCHAR},
            GENDER = #{gender, jdbcType=VARCHAR}
        WHERE MEMBER_ID = #{memberId, jdbcType=VARCHAR}
    </update>
	
	
	
	
</mapper>