<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.replay.global.notice.model.repository.NoticeRepository">

	<resultMap id="noticeResultSet" type="com.kh.replay.global.notice.model.domain.Notice">
		<id property="noticeNo" column="NOTICE_NO" />
		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="noticeContent" column="NOTICE_CONTENT" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="status" column="STATUS" />
		<result property="createdAt" column="CREATED_AT" />
		<result property="updatedAt" column="UPDATED_AT" />
	</resultMap>

	<select id="findAll" resultMap="noticeResultSet">
		SELECT
			   NOTICE_NO
			 , NOTICE_TITLE
			 , NOTICE_CONTENT
			 , MEMBER_ID
			 , STATUS
			 , CREATED_AT
			 , UPDATED_AT
	      FROM
	     	   TB_NOTICE
	     WHERE
	           STATUS = #{status}
		<if test="keyword != null and keyword != ''">
			AND
			    NOTICE_TITLE LIKE '%' || #{keyword} || '%'
		</if>
		  ORDER BY
		        NOTICE_NO DESC
	</select>

	<select id="countAll" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       TB_NOTICE
		 WHERE
		       STATUS = #{status}
		<if test="keyword != null and keyword != ''">
			AND
			    NOTICE_TITLE LIKE '%' || #{keyword} || '%'
		</if>
	</select>

	<insert id="save" parameterType="com.kh.replay.global.notice.model.domain.Notice">
		<selectKey keyProperty="noticeNo" resultType="long" order="BEFORE">
			SELECT SEQ_NOTICE_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO TB_NOTICE
		       (
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , MEMBER_ID
		     , STATUS
		     , CREATED_AT
		     , UPDATED_AT
		       )
	    VALUES 
	    	   (
	    	   #{noticeNo}
	    	 , #{noticeTitle}
	    	 , #{noticeContent}
	    	 , 'admin'
	    	 , 'Y'
	    	 , SYSDATE
	    	 , SYSDATE  
	    	   )
	</insert>

	<insert id="saveImg" parameterType="com.kh.replay.global.notice.model.domain.NoticeImg">
		INSERT 
		  INTO 
		        TB_NOTICE_IMG
				(
				IMG_ID
			  , ORIGIN_NAME
			  , CHANGE_NAME
			  , STATUS
			  , NOTICE_NO
				)
		VALUES
				(
				SEQ_IMG_ID.NEXTVAL
			  , #{originName}
			  , #{changeName}
			  , 'Y'
			  , #{noticeNo}
				)
	</insert>
	
	<select id="findById" resultMap="noticeResultSet">
		SELECT
		       NOTICE_NO
			 , NOTICE_TITLE
			 , NOTICE_CONTENT
			 , MEMBER_ID
			 , STATUS
			 , CREATED_AT
			 , UPDATED_AT
	      FROM
	           TB_NOTICE
	     WHERE
	           NOTICE_NO = #{id}
	</select>
	
</mapper>