<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.replay.notice.model.repository.NoticeRepository">

	<resultMap id="noticeResultSet" type="com.kh.replay.notice.model.domain.Notice">
		<id property="noticeNo" column="NOTICE_NO" />
		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="noticeContent" column="NOTICE_CONTENT" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="status" column="STATUS" />
		<result property="createdAt" column="CREATED_AT" />
		<result property="updatedAt" column="UPDATED_AT" />
	</resultMap>

	<select id="findAll" resultMap="noticeResultSet">
		SELECT
		       *
		  FROM
		       (     
				SELECT
					   NOTICE_NO
					 , NOTICE_TITLE
					 , NOTICE_CONTENT
					 , MEMBER_ID
					 , STATUS
					 , CREATED_AT
					 , UPDATED_AT
			      FROM
			     	   TB_NOTICE
			     WHERE
			           STATUS = #{status}
				<if test="keyword != null and keyword != ''">
					AND
					    NOTICE_TITLE LIKE '%' || #{keyword} || '%'
				</if>
				  ORDER BY NOTICE_NO DESC
				)
		OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY		
	</select>

	<select id="countAll" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       TB_NOTICE
		 WHERE
		       STATUS = #{status}
		<if test="keyword != null and keyword != ''">
			AND
			    NOTICE_TITLE LIKE '%' || #{keyword} || '%'
		</if>
	</select>

	<insert id="save" parameterType="com.kh.replay.notice.model.domain.Notice">
		<selectKey keyProperty="noticeNo" resultType="long" order="BEFORE">
			SELECT SEQ_NOTICE_NO.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO TB_NOTICE
		       (
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , MEMBER_ID
		     , STATUS
		     , CREATED_AT
		     , UPDATED_AT
		       )
	    VALUES 
	    	   (
	    	   #{noticeNo}
	    	 , #{noticeTitle}
	    	 , #{noticeContent}
	    	 , #{memberId}
	    	 , 'Y'
	    	 , SYSDATE
	    	 , SYSDATE  
	    	   )
	</insert>

	<insert id="saveImg" parameterType="com.kh.replay.notice.model.domain.NoticeImg">
		INSERT 
		  INTO 
		        TB_NOTICE_IMG
				(
				IMG_ID
			  , ORIGIN_NAME
			  , CHANGE_NAME
			  , STATUS
			  , NOTICE_NO
				)
		VALUES
				(
				SEQ_IMG_ID.NEXTVAL
			  , #{originName}
			  , #{changeName}
			  , 'Y'
			  , #{noticeNo}
				)
	</insert>
	
	<select id="findById" resultMap="noticeResultSet">
		SELECT
		       NOTICE_NO
			 , NOTICE_TITLE
			 , NOTICE_CONTENT
			 , MEMBER_ID
			 , STATUS
			 , CREATED_AT
			 , UPDATED_AT
	      FROM
	           TB_NOTICE
	     WHERE
	           NOTICE_NO = #{id}
	</select>
	
	<select id="findByNoticeNo"
			resultType="com.kh.replay.notice.model.domain.Notice">
		SELECT
			   NOTICE_NO AS noticeNo
			 , NOTICE_TITLE AS noticeTitle
			 , NOTICE_CONTENT AS noticeContent
			 , MEMBER_ID AS memberId
			 , STATUS AS status
		  FROM
		       TB_NOTICE
		 WHERE
		       NOTICE_NO = #{noticeNo}
	</select>
	
	<select id="findImageUrlsByNoticeNo"
			resultType="string">
		SELECT
		       CHANGE_NAME
		  FROM
		       TB_NOTICE_IMG
		 WHERE
		       NOTICE_NO = #{noticeNo}
		   AND
		       STATUS = 'Y'
		 ORDER
		    BY
		       IMG_ID ASC 		
	</select>
	
	<update id="updateNotice">
		UPDATE
		       TB_NOTICE
		   SET
		       NOTICE_TITLE = #{req.noticeTitle}
		     , NOTICE_CONTENT = #{req.noticeContent}
		     , UPDATED_AT = SYSDATE
		 WHERE
		       NOTICE_NO = #{noticeNo}
	</update>
	
	<update id="deleteNoticeImages">
		UPDATE
		       TB_NOTICE_IMG
		   SET
		       STATUS = 'N'
		 WHERE
		       IMG_ID IN
		<foreach collection="list" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</update>
	
	<insert id="insertNoticeImage">
		INSERT
		  INTO
		       TB_NOTICE_IMG
		       (
		       IMG_ID
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , STATUS
		     , NOTICE_NO
		       )
	    VALUES
	   		   (
	   		   SEQ_IMG_ID.NEXTVAL
	   		 , #{originName}
	   		 , #{changeName}
	   		 , 'Y'
	   		 , #{noticeNo}
	   		   )
	</insert>
	
	<select id="findImgIdsByNoticeNo">
		SELECT
		       IMG_ID
		  FROM
		       TB_NOTICE_IMG
		 WHERE
		       NOTICE_NO = #{noticeNo}
		   AND
		       STATUS = 'Y'     
	</select>
	
	<update id="deleteNotice">
		UPDATE
		       TB_NOTICE
		   SET
		       STATUS = 'N'
		    ,  UPDATED_AT = SYSDATE
		WHERE
		       NOTICE_NO = #{noticeNo}    
	</update>
	
</mapper>